[package]
name = "magnus_tokio"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]    

[dependencies]
magnus = "0.8.2"
tokio = { version = "1", features = ["rt-multi-thread", "macros", "net", "io-util", "time"] }
once_cell = "1.19"
